@page "/user/bookings"
@attribute [Authorize]
@inherits UserBookingsBase


    <h1 class="page-title">My Bookings</h1>


@if (IsLoading)
{
    <p>Loading...</p>
}
else if (Bookings == null || !Bookings.Any())
{
    <p>You have no bookings yet.</p>
}
else
{
    <div class="bookings-container">
        @foreach (var b in Bookings)
        {
            <div class="booking-card">
                <h5>@b.HotelName - @b.RoomType</h5>
                <p><b>Guests:</b> @b.GuestsCount</p>
                <p><b>Dates:</b> @b.CheckIn.ToShortDateString() - @b.CheckOut.ToShortDateString()</p>
                <p><b>Total Price:</b> @b.TotalPrice DKK</p>
                <p><b>Breakfast:</b> @(b.IsBreakfast ? "Yes" : "No")</p> 
                @if (b.CheckIn > DateOnly.FromDateTime(DateTime.UtcNow))
                {
                    <button class="btn btn-custom" @onclick="() => DeleteBookingAsync(b.Id)">
                        Cancel Booking
                    </button>
                }
            </div>
        }
    </div>
}
