@page "/rooms"


@using BlazorBootstrap


<PageTitle>Rooms</PageTitle>

@if(IsLoading)
{
    <div class="overlay d-flex justify-content-center align-items-center">
    <Spinner Type="SpinnerType.Border"
				 Size="SpinnerSize.Large" Color="SpinnerColor.Light " Visible="@IsLoading" />
    </div>
}

else
{
    <div class="page-wrapper">
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4 ">

            @foreach (var room in roomTypes)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="/images/CopilotBedroom.png" class="card-img-top" />
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@room.TypeofRoom.</h5>
                            <p class="card-text">@room.Description</p>
                            <p class="card-text text-muted">Max Capacity: @room.MaxCapacity</p>
                            <p class="card-text text-muted mt-auto">Price per night: @room.PricePerNight?.ToString("C")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
}
